* {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*::selection {
	background: var(--bg-header);
	color: var(--color-icons);
}

img {
	width: 40px;
}

:root {
	--bg-header: #006241;
	--color-icons: #ffffff;
	--size-icons: 40px;
	--padding-block: 10px 15px;
}

.header {
	display: flex;
	justify-content: space-between;
	background: var(--bg-header);
	padding: 15px 20px;
	align-items: center;
	box-shadow: 1px 4px 42px 19px rgba(0, 0, 0, 0.75);
	position: fixed;
	z-index: 50;
	width: 100%;
	top: 0;
	left: 0;
	padding: var(--padding-block);
}

.header__logo {
	width: 50px;
}

.header__icon {
	font-size: var(--size-icons);
	color: var(--color-icons);
}

.header__login {
	display: none;
}

.header__navLink {
	display: none;
}

.header__button {
	display: none;
}

.main {
	margin-top: 100px;
	padding: 5px 40px 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.main__title {
	font-size: 55px;
	line-height: 1.5;
}

.main__titleGreen {
	color: var(--bg-header);
}

.main__description {
	font-weight: bold;
	line-height: 1.7;
}

.main__logo {
	display: none;
}

.gallery {
	background-color: var(--bg-header);
	padding: 30px 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.gallery__img {
	width: 95%;
	padding: var(--padding-block);
	margin: 0px 10px 0px 10px;
}

.contact {
	background: black;
	color: var(--color-icons);
	padding: 40px 15px;
}

.contact__title {
	display: flex;
	justify-content: center;
	color: var(--bg-header);
	font-size: 30px;
	text-transform: uppercase;
}

.contact__information {
	background: var(--bg-header);
	width: 100%;
	margin: 25px auto 0;
}

.contact__form {
	padding: 5px 5pxs;
	border-radius: 5px;
	border: 2px solid var(--bg-header);
}

.contact__containerInfo {
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.contact__label {
	font-size: 19px;
	margin: 5px;
}

.contact__form:focus {
	background: black;
	color: white;
	border: 2px solid yellow;
}

.contact__form::placeholder {
	color: var(--bg-header);
	font-weight: bold;
}

.contact__button {
	background: transparent;
	border: 2px solid var(--color-icons);
	color: var(--color-icons);
	margin-top: 15px;
	border-radius: 10px;
	padding: 4px 10px;
	width: 40%;
}

.cards {
	padding: 30px 15px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.cards__card {
	background-color: var(--bg-header);
	margin-top: 25px;
	position: relative;
	width: 90%;
	margin: 25px 25px 0;
}

.cards__img {
	width: 100%;
}

.cards__containerText {
	padding: 15px;
}

.cards__discount {
	position: absolute;
	top: -25px;
	right: -25px;
	background: yellow;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5px;
	font-size: 22px;
	font-weight: bold;
}
.cards__title {
	font-weight: bold;
	font-size: 25px;
	color: var(--color-icons);
}

.cards__titleYellow {
	color: yellow;
}

.cards__description {
	margin: 10px;
	color: var(--color-icons);
}

.cards__button {
	background-color: var(--bg-header);
	color: var(--color-icons);
	border: 1px solid;
	padding: 6px 24px;
	border-radius: 12px;
	font-size: 12px;
}

.cards__button:hover {
	background: yellow;
}

.footer {
	background-color: black;
	color: var(--color-icons);
	flex-direction: column;
	padding: 32px 0;
}

.footer__navbar,
.footer__socialmedia {
	margin: 25px 15px;
}

.footer__socialmedia {
	margin: 18px 18px 18px;
}

.footer__navbar {
	color: var(--bg-header);
	text-decoration: none;
	font-weight: bolder;
}

@media (min-width: 470px) {
	.main__title {
		font-size: 70px;
	}

	.main__description {
		font-size: 18px;
	}

	.main__containerText {
		margin-top: 25px;
	}
	.contact__title {
		font-size: 45px;
	}

	.contact__information {
		width: 90%;
		font-size: 20px;
		padding: 8px;
	}

	.contact__form {
		font-size: 16px;
		border: 2px solid white;
	}
	.contact__label {
		font-size: 21px;
	}

	.contact__button {
		padding: 5px 0px;
		width: 60%;
		font-size: 16px;
	}

	.contact__button:hover {
		background: yellow;
	}

	.cards__discount {
		width: 70px;
		height: 70px;
		margin-top: 8px;
	}

	.footer__navbar,
	.footer__socialmedia,
	.footer__img {
		font-size: 20px;
	}
}

@media (min-width: 768px) {
	.header__navLink {
		display: inline-block;
		text-decoration: none;
		color: var(--color-icons);
		text-transform: uppercase;
		margin: 10px;
	}

	.header__icon {
		display: none;
	}

	.header__login {
		display: block;
		font-size: 40px;
		color: var(--color-icons);
	}

	.main {
		flex-direction: row;
	}

	.main__containerText {
		width: 50%;
	}

	.main__logo {
		display: block;
		width: 80%;
	}

	.main__containerImg {
		width: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.main__title {
		font-size: 50px;
		line-height: 1.2;
	}

	.main__description {
		font-size: 16px;
		margin-top: 20px;
	}

	.gallery__img {
		display: flex;
		flex-direction: row;
		width: 58%;
		justify-content: space-around;
	}

	.contact__information {
		width: 60%;
	}

	.cards {
		flex-direction: row;
		justify-content: space-around;
		flex-wrap: wrap;
	}

	.cards__card {
		width: 40%;
		height: 440px;
	}

	.cards__description {
		font-size: 14px;
	}

	.cards__button {
		margin-bottom: 10px;
	}

	.footer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 30px 30px;
	}
}

@media (min-width: 960px) {
	.header__navLink {
		font-size: 19px;
	}

	.main__title {
		font-size: 60px;
	}
	.cards__buttonDelivery {
		display: flex;
		flex-direction: row;
		width: max-content;
	}

	.cards__button {
		margin-right: 5px;
		font-size: 11.5px;
	}
}

@media (min-width: 1024px) {
	.main__title {
		font-size: 75px;
	}

	.main__description {
		font-size: 18px;
	}

	.main__logo {
		width: 450px;
	}

	.contact__form {
		padding: 10px;
	}

	.cards__card {
		display: flex;
		flex-direction: column;
		width: 400px;
	}

	.cards__title {
		font-size: 30px;
	}

	.cards__description {
		font-size: 16px;
	}

	.cards__button {
		font-size: 12.5px;
	}

	.footer {
		padding: 85px 35px;
	}
}

@media (min-width: 1380px) {
	.cards__card {
		height: 5%;
		width: 45%;
		margin: 25px 30px 0;
	}
}
